$color-principal:aliceblue;
$color-nav:#183b03;
$color-nav2:#23291f;
$color-nav3: #85FFBD;
$bg-imagen:linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
$gb-nav:linear-gradient(0deg, rgba(1,9,4,1) 24%, rgba(129,130,129,1) 100%);
$color-secundario:rgb(230, 224, 224);